body {
    font-family: 'Merriweather', serif;
    line-height: 1.5;
    letter-spacing: 0.8px;
    color: #3d3d3d;
}

h1 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 0;
}

pre {
    padding-left: 0;
    font-family: 'Merriweather', serif;
}